[package]
name = "strstr"
version = "0.1.0"
authors = ["adema"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
memchr = "2.3"

[dev-dependencies]
criterion = "0.3"
memmem = "0.1"
twoway = "0.2"

[[bench]]
name = "avx2_anysize"
harness = false

[profile.release]
debug = true
